In [1]:
!pip install Faker 
!pip install names-dataset

Requirement already satisfied: Faker in /home/behzad/anaconda3/envs/ML/lib/python3.10/site-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /home/behzad/anaconda3/envs/ML/lib/python3.10/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/behzad/anaconda3/envs/ML/lib/python3.10/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Requirement already satisfied: names-dataset in /home/behzad/anaconda3/envs/ML/lib/python3.10/site-packages (3.1.0)
Requirement already satisfied: pycountry in /home/behzad/anaconda3/envs/ML/lib/python3.10/site-packages (from names-dataset) (22.3.5)
Requirement already satisfied: setuptools in /home/behzad/anaconda3/envs/ML/lib/python3.10/site-packages (from pycountry->names-dataset) (65.5.0)

In [2]:
from faker import Faker

In [37]:
en_fake = Faker()
fa_fake = Faker('fa')

In [39]:
from names_dataset import NameDataset
nd = NameDataset()

In [46]:
nd.search('behzad')['first_name']['gender']

{'Female': 0.022, 'Male': 0.978}

# let's Generate some Fake Data!!

In [47]:
import numpy as np 
import pandas as pd

In [105]:
def make_name():
    ''' 
    This function generate an Iranian name in 50% of the times and
    an English name in the other 50% of the times.
    '''
    if np.random.rand() > .5:
        return en_fake.name()
    return fa_fake.name()

In [106]:
name = [make_name() for _ in range(100)]

In [107]:
df = pd.DataFrame({
    'name' : name
})

In [108]:
df

                       name
0               زينب تحسینی
1             Robert Palmer
2    جناب آقای آرمین تنزیلی
3       Christopher Jenkins
4            اميرمحمد اشتری
..                      ...
95           محمدجواد نعمتی
96        Christopher Moore
97         Kristina Higgins
98  سرکار خانم نيايش سماوات
99          Heather Roberts

[100 rows x 1 columns]

# extracting first name and last name

In [117]:
full_name = fa_fake.name()
full_name

'الينا شاکری'

In [121]:
f_name = full_name.split()[0]
f_name

'الينا'

In [124]:
df['first_name'] = df['name'].apply(lambda full_name: full_name.split()[0])
df['last_name'] = df['name'].apply(lambda full_name: full_name.split()[-1])

In [127]:
df

                       name last_name   first_name
0               زينب تحسینی    تحسینی         زينب
1             Robert Palmer    Palmer       Robert
2    جناب آقای آرمین تنزیلی    تنزیلی         جناب
3       Christopher Jenkins   Jenkins  Christopher
4            اميرمحمد اشتری     اشتری     اميرمحمد
..                      ...       ...          ...
95           محمدجواد نعمتی     نعمتی     محمدجواد
96        Christopher Moore     Moore  Christopher
97         Kristina Higgins   Higgins     Kristina
98  سرکار خانم نيايش سماوات    سماوات        سرکار
99          Heather Roberts   Roberts      Heather

[100 rows x 3 columns]

In [142]:
nd.search('beheotijgeotijzad')['first_name']

In [ ]:
def name_to_gender(first_name):
    info = nd.search(first_name)['first_name']
    if info is no